@model IEnumerable<BusPassManagementSystem.Models.passtype>

@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <b><font face="Times New Roman" size="7" color="black">Pass Details</font></b>
</div>
<br />


<table class="table table-bordered table-hover">
    <thead class="bg-dark text-white text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
        </tr>
}
    </tbody>
</table>
